<!DOCTYPE html>
<html>
<head>
    <title>Daftar Agenda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="padding-top: 20px;">
        <div class="row" id="body">
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Todo</h3>
                    </div>
                    <br>
                    <button class="btn btn-danger btn-sm" v-on:click="bukaForm" v-if="btnLihat"><i class="fa fa-folder-open-o"></i>Lihat</button>
                    <button class="btn btn-primary btn-sm" v-on:click="tutupForm" v-if="btnTutup"><i class="fa fa-folder-close-o"></i>Tutup</button>
                    <div v-show="tampilForm">
                        <div class="form-group">
                            <label>Judul</label>
                            <input v-model="judul" type="text" class="form-control" placeholder="Judul" />
                        </div>
                        <div class="form-group">
                            <label>Deskripsi</label>
                            <input v-model="deskripsi" type="text" class="form-control" placeholder="Deskripsi" />
                        </div>
                        <div class="form-group">
                            <label>Tanggal</label>
                            <input v-model="tanggal" type="date" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-md" v-on:click="tambahData()"><i class="fa fa-plus-circle"></i> Tambah Data</button>
                            <button class="btn btn-danger btn-md" v-on:click="reset()"><i class="fa fa-minus-circle"></i> Batal</button>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="todo" v-for="items in list">
                            <h3><i class="fa fa-bullhorn"></i>{{ items.judul }}</h3>
                            <p><i class="fa fa-calendar"></i> {{ items.tanggal }} </p>
                            <p>{{ items.deskripsi }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="https://unpkg.com/vue@2.5.6/dist/vue.js"></script>
<script>
    new Vue({
        el:'#body',
        data : {
            judul: '',
            deskripsi: '',
            tanggal :'',
            list:[
                {
                    judul: 'VueJS 1',
                    tanggal: '02-04-2020',
                    deskripsi : 'Data Binding & Directive'
                },
                {
                    judul : 'VueJS 2',
                    tanggal : '02-05-2020',
                    deskripsi : 'Event Listener'
                }
            ],
            tampilForm: false,
            btnLihat:true,
            btnTutup: false
        },
        methods: {
            bukaForm(){
                this.tampilForm = true;
                this.btnLihat = false;
                this.btnTutup = true;
            },
            tutupForm(){
                this.tampilForm = false;
                this.btnTutup = false;
                this.btnLihat = true;
            },
            tambahData(){
                if(!this.judul){
                    alert("Judul harus diisi");
                    return false;
                }else if(!this.deskripsi){
                    alert("Deskripsi harus diisi");
                    return false;
                }else if(!this.tanggal){
                    alert("Tanggal harus diisi");
                    return false;
                }
                this.list.push({
                    judul: this.judul,
                    tanggal: this.tanggal,
                    deskripsi : this.deskripsi
                });
                this.judul = '',
                this.tanggal = '',
                this.deskripsi = ''
            },
            reset(){
                this.judul = '',
                this.tanggal = '',
                this.deskripsi = ''
            }
        },
    });
</script>
</body>
</html>